@using Capstone.Web.Models

@model CombinedParkSurvey
@{
    var parkSurveys = Model.GetParkSurvey();
    IList<ParkDataModel> parks = (IList<ParkDataModel>)(parkSurveys["parks"]);
    IList<SurveyResultModel> surveyResults = (List<SurveyResultModel>)(parkSurveys["surveyResults"]);
    ViewData["Title"] = "Surveys";

    // Sort the parks... no I don't know why this works.
    var sortedParks = parks.OrderBy(x => x.ParkName).ToList();
}

<h2>Surveys</h2>

@foreach (var park in sortedParks)
{
    var count = 0;
    var responses = String.Empty;
    foreach (var results in surveyResults)
    {
        if (results.ParkCode == park.ParkCode)
        {
            count++;
        }
    }
    if (count > 0)
    {
        <h3>@park.ParkName (@count reviews)</h3>
        foreach (var results in surveyResults)
        {
            if (results.ParkCode == park.ParkCode)
            {
                <p>While I visited I was @results.ActivityLevel. I am from @results.State.</p>
            }
        }

    }
}

@Html.Partial("_SurveyForm", new SaveSurveyResponseModel(Model.parksSelectList))
